In [1]:
Elantra = read.csv("elantra.csv")

In [2]:
ElantraTrain = subset(Elantra, Year <= 2012)

ElantraTest = subset(Elantra, Year > 2012)

In [3]:
str(ElantraTrain)

'data.frame':	36 obs. of  7 variables:
 $ Month       : int  1 1 1 2 2 2 3 3 3 4 ...
 $ Year        : int  2010 2011 2012 2010 2011 2012 2010 2011 2012 2010 ...
 $ ElantraSales: int  7690 9659 10900 7966 12289 13820 8225 19255 19681 9657 ...
 $ Unemployment: num  9.7 9.1 8.2 9.8 9 8.3 9.9 9 8.2 9.9 ...
 $ Queries     : int  153 259 354 130 266 296 138 281 303 132 ...
 $ CPI_energy  : num  213 229 244 210 232 ...
 $ CPI_all     : num  217 221 228 217 222 ...

In [4]:
ElantraLM = lm(ElantraSales ~ Unemployment + Queries + CPI_energy + CPI_all, data=ElantraTrain)

In [5]:
summary(ElantraLM)

Call:
lm(formula = ElantraSales ~ Unemployment + Queries + CPI_energy +
    CPI_all, data = ElantraTrain)

Residuals:
    Min      1Q  Median      3Q     Max
-6785.2 -2101.8  -562.5  2901.7  7021.0

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)   95385.36  170663.81   0.559    0.580
Unemployment  -3179.90    3610.26  -0.881    0.385
Queries          19.03      11.26   1.690    0.101
CPI_energy       38.51     109.60   0.351    0.728
CPI_all        -297.65     704.84  -0.422    0.676

Residual standard error: 3295 on 31 degrees of freedom
Multiple R-squared:  0.4282,	Adjusted R-squared:  0.3544
F-statistic: 5.803 on 4 and 31 DF,  p-value: 0.00132

In [6]:
ElantraLM = lm(ElantraSales ~ Unemployment + Queries + CPI_energy + CPI_all + Month, data=ElantraTrain)

In [7]:
summary(ElantraLM)

Call:
lm(formula = ElantraSales ~ Unemployment + Queries + CPI_energy +
    CPI_all + Month, data = ElantraTrain)

Residuals:
    Min      1Q  Median      3Q     Max
-6416.6 -2068.7  -597.1  2616.3  7183.2

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  148330.49  195373.51   0.759   0.4536
Unemployment  -4137.28    4008.56  -1.032   0.3103
Queries          21.19      11.98   1.769   0.0871 .
CPI_energy       54.18     114.08   0.475   0.6382
CPI_all        -517.99     808.26  -0.641   0.5265
Month           110.69     191.66   0.578   0.5679
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 3331 on 30 degrees of freedom
Multiple R-squared:  0.4344,	Adjusted R-squared:  0.3402
F-statistic: 4.609 on 5 and 30 DF,  p-value: 0.003078

In [8]:
110.69 * (3 - 1)

[1] 221.38

In [10]:
110.69 * (5 - 1)

[1] 442.76

In [11]:
ElantraTrain$MonthFactor = as.factor(ElantraTrain$Month)

ElantraTest$MonthFactor = as.factor(ElantraTest$Month)

In [12]:
ElantraLM = lm(ElantraSales ~ Unemployment + Queries + CPI_energy + CPI_all + MonthFactor, data=ElantraTrain)

In [13]:
summary(ElantraLM)

Call:
lm(formula = ElantraSales ~ Unemployment + Queries + CPI_energy +
    CPI_all + MonthFactor, data = ElantraTrain)

Residuals:
    Min      1Q  Median      3Q     Max
-3865.1 -1211.7   -77.1  1207.5  3562.2

Coefficients:
                Estimate Std. Error t value Pr(>|t|)
(Intercept)   312509.280 144061.867   2.169 0.042288 *
Unemployment   -7739.381   2968.747  -2.607 0.016871 *
Queries           -4.764     12.938  -0.368 0.716598
CPI_energy       288.631     97.974   2.946 0.007988 **
CPI_all        -1343.307    592.919  -2.266 0.034732 *
MonthFactor2    2254.998   1943.249   1.160 0.259540
MonthFactor3    6696.557   1991.635   3.362 0.003099 **
MonthFactor4    7556.607   2038.022   3.708 0.001392 **
MonthFactor5    7420.249   1950.139   3.805 0.001110 **
MonthFactor6    9215.833   1995.230   4.619 0.000166 ***
MonthFactor7    9929.464   2238.800   4.435 0.000254 ***
MonthFactor8    7939.447   2064.629   3.845 0.001010 **
MonthFactor9    5013.287   2010.745   2.493 0.021542 *
MonthFactor10   2500.184   2084.057   1.200 0.244286
MonthFactor11   3238.932   2397.231   1.351 0.191747
MonthFactor12   5293.911   2228.310   2.376 0.027621 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2306 on 20 degrees of freedom
Multiple R-squared:  0.8193,	Adjusted R-squared:  0.6837
F-statistic: 6.044 on 15 and 20 DF,  p-value: 0.0001469

In [14]:
cor(ElantraTrain[c("Unemployment","Month","Queries","CPI_energy","CPI_all")])

             Unemployment Month      Queries    CPI_energy CPI_all
Unemployment  1.0000000   -0.2036029 -0.6411093 -0.8007188 -0.9562123
Month        -0.2036029    1.0000000  0.0158443  0.1760198  0.2667883
Queries      -0.6411093    0.0158443  1.0000000  0.8328381  0.7536732
CPI_energy   -0.8007188    0.1760198  0.8328381  1.0000000  0.9132259
CPI_all      -0.9562123    0.2667883  0.7536732  0.9132259  1.0000000

In [15]:
cor(ElantraTrain[c("Unemployment","Month","Queries","CPI_energy","CPI_all")])

             Unemployment Month      Queries    CPI_energy CPI_all
Unemployment  1.0000000   -0.2036029 -0.6411093 -0.8007188 -0.9562123
Month        -0.2036029    1.0000000  0.0158443  0.1760198  0.2667883
Queries      -0.6411093    0.0158443  1.0000000  0.8328381  0.7536732
CPI_energy   -0.8007188    0.1760198  0.8328381  1.0000000  0.9132259
CPI_all      -0.9562123    0.2667883  0.7536732  0.9132259  1.0000000

In [16]:
PredictTest = predict(ElantraLM, newdata=ElantraTest)

In [17]:
SSE = sum((PredictTest - ElantraTest$ElantraSales)^2)

In [18]:
SSE

[1] 180470729

In [19]:
SST = sum((mean(ElantraTrain$ElantraSales) - ElantraTest$ElantraSales)^2)

In [20]:
1-(SSE/SST)

[1] 0.7426902

In [21]:
max(abs(PredictTest - ElantraTest$ElantraSales))

[1] 7632.811

In [22]:
which.max(abs(PredictTest - ElantraTest$ElantraSales))

14
 5

In [23]:
ElantraTest[5]

   Queries
4  230
5  232
9  239
10 240
14 313
18 248
22 252
26 320
30 274
34 271
38 298
42 223
46 231
50 279